@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
body {
    margin: 0px;
    /* width: 1560px;
    height: 720px; */
    background: #FAFAFA 0% 0% no-repeat padding-box;
    opacity: 1;
}
.hero{
    margin-top: 72px;
    border-radius: 50%;
    box-shadow: 0px 4px 31px #0000000A;
    border: 20px solid #FFFFFF;
    opacity: 1;
}
.right {
    display: flex;
    flex-direction: column;
    margin-top: 106px;
    margin-left: 164px;
}
.logo {  
    width: 272px;
    height: 58px;
}
.header{
    margin-top: 19px;
    text-align: left;
    font: normal normal 300 40px/47px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    width: 500px;
    height: 100px;
}
.color-red {
    color: #C8242F;
}
.titlelogin {
    margin-top: 31px;
    text-align: left;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E; 
}
.right input{
    padding:10px;
    margin-bottom: 27px;
    width: 429px;
    height: 49px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #ADADAD;
    border-radius: 5px;
}
.container{
    margin-top: 3px;
    margin-bottom: 23px;
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}
.login-button{
    width: 138px;
    height: 45px;
    background: #C8242F 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: none;
    color: white;
}

.login-button span {
    text-align: left;
font: Roboto;
color: #FFFFFF;

}
.body1{
    height:1359px;
    width: 1560px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    position: relative;
}
.header1{
    height:80px;
    width:1560px;
    background: #FFFFFF 0% 0% no-repeat padding-box;

}
.menu-bar{
    position: fixed;
    top: 34px;
    left: 29px;
    bottom:34px;
    width: 18px;
    height: 12px;
    opacity:1;
}
.logo1{
    position: fixed;
    top: 25px;
    left: 72px;
    width: 142px;
    height: 30px;
    opacity: 1  
}
.search{
    position: fixed;
    top: 32px;
    left: 291px;
    width: 16px;
    height: 16px;
    opacity: 1;
}
.search-text{
    position: fixed;
    top: 28px;
    left: 321px;
    width: 49px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    opacity: 1;
}
.notification{
    position: fixed;
    top: 28px;
    left: 1294px;
    width: 22px;
    height: 21px;
    opacity: 1;
}
.profile{
    position: fixed;
    top: 18px;
    left: 1368px;
    width: 44px;
    height: 44px;
    background: transparent url('img/Ellipse 19.png') 0% 0% no-repeat padding-box;
    opacity:1;
}
.john{
    position: fixed;
    top: 28px;
    left: 1424px;
    width: 68px;
    height: 24px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
}
.select{
    position: fixed;
    top: 30px;
    left: 1507px;
    width: 30px;
    height: 20px;
    opacity: 1;
}
.left1{
    top: 80px;
    left: 0px;
    width: 242px;
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1; 
}
.dashboard{
    position: fixed;
    top: 105px;
    left: 30px;
    width: 183px;
    height: 43px;
    border-radius: 5px;
    background: #FFF3F4 0% 0% no-repeat padding-box;
    opacity: 1;
}
.dash{
    position: fixed;
    top: 119px;
    left: 48px;
    width: 15px;
    height: 15px;
    opacity: 1;
}
.text1{
    position: fixed;
    top: 115px;
    left: 75px;
    width: 78px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #C8242F;
    opacity: 1;
}
.analysis{
    position:fixed;
    top: 171px;
    left: 46px;
    width: 19px;
    height: 18px;
    opacity: 1;
}
.text2{
    position: fixed;
    top: 168px;
    left: 75px;
    width: 60px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.inbox{
    position: fixed;
    top: 225px;
    left: 48px;
    width: 15px;
    height: 15px;
    opacity: 1;
}
.text3{
    position: fixed;
    top: 221px;
    left: 75px;
    width: 39px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.history{
    position:fixed;
    top: 278px;
    left: 47px;
    width: 16px;
    height: 16px;
    opacity: 1;
}
.text4{
    position: fixed;
    top: 274px;
    left: 75px;
    width: 51px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.users{
    position: fixed;
    top: 330px;
    left: 43px;
    width: 25px;
    height: 14px;
    opacity: 1;
}
.text5{
    position: fixed;
    top: 327px;
    left: 75px;
    width: 41px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.maintenance{
    position: fixed;
    top: 383px;
    left: 48px;
    width: 13px;
    height: 18px;
}
.text6{
    position: fixed;
    top: 380px;
    left: 75px;
    width: 92px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.setting{
    position: fixed;
    top: 436px;
    left: 47px;
    width: 17px;
    height: 17px;
    opacity: 1;
}
.text7{
    position: fixed;
    top: 433px;
    left: 75px;
    width: 50px;
    height: 21px;
    text-align: left;
    font: normal normal normal 16px/21px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
}
.right1{
    position: absolute;
    top: 121px;
    left: 290px;
    width: 146px;
    height: 39px;
    text-align: left;
    font-size: 30px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.box1{
    position: absolute;
    top: 182px;
    left: 292px;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
}
.star{
   position: absolute;
    margin-top: 42px;
    margin-left: 38px;
    width: 33px;
    height: 33px;

}
#num1{
    font-size: 26px;
}
.newp{
    position: absolute;
    margin-top: 35px;
    margin-left: 90px;
    font: normal normal normal 15px/20px Roboto;
}
.box2{
    position: absolute;
    top: 182px;
    left: 541px;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
}
.new-product{
    margin-top: 42px;
    margin-left: 38px;
    width: 26px;
    height: 26px;
 
}
#num2{
    font-size: 26px;
    
}
.addp{
    top: 31px;
    left: 87px;
    position: absolute;
}
.box3{
    position: absolute;
    top: 182px;
    left: 791px;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
}
#num3{
    font-size: 26px;
}
.total-product{
    margin-top: 42px;
    margin-left: 38px;
    width: 27px;
    height: 27px;
  
}
.totalp{
    top: 31px;
    left: 87px;
    position: absolute;
}
.box4{
    position: absolute;
    top: 182px;
    left: 1040px;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
}
#num4{
    font-size: 26px;
}
.today{
    top: 31px;
    left: 87px;
    position: absolute;
}
.dollar{
    margin-top: 42px;
    margin-left: 38px;
    width: 27px;
    height: 27px;
  
}
.box5{
    position: absolute;
    top: 182px;
    left: 1290px;
    width: 219px;
    height: 116px;
    background-color: #FFFFFF;
}
#num5{
    font-size: 26px;
}
.totalsale{
    top: 31px;
    left: 87px;
    position: absolute;
}
.money{
    margin-top: 42px;
    margin-left: 38px;
    width: 27px;
    height: 27px;
  
}
.graph{
    position: absolute;
    top: 328px;
    left: 292px;
    width: 802px;
    height: 400px;
    background: #FFFFFF 0%0%no-repeat padding-box;
}
.saletxt{
    color: #3e3e3e;
    top:23.52px;
    left:30px;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
}
#wtxt{
    top: 24.5px;
    left: 592px;
    position: absolute;
    text-align: left;
    color: #ADADAD;

}

#ytxt{
    top: 24.5px;
    left: 740px;
    position: absolute;
    color: #c8242f;
    border-bottom: solid 1px #c8242f;
}
.graph-image{
    position: absolute;
    top:90.5px;
    left:105.5px;
    width: 649px;
    height: 195px;

}
.pi-chart{
    position: absolute;
    top: 330px;
    left: 1124px;
    width: 385px;
    height: 398px;
    background: #FFFFFF 0%0%no-repeat padding-box;
}
#pi-head{
    position: absolute;
    top:21.52px;
    left:29px;
    font-size: 24px;
}
.pi-chart-image{
    position: absolute;
    top:70px;
    left:89px;
}
.us-logo{
    position: absolute;
    top: 306px;
    left: 49px;
    width: 18px;
    height: 18px;
}
#us-txt{
    position: absolute;
    top: 305px;
    left: 76px;
}
.canada-logo{
    position: absolute;
    top: 306px;
    left: 268px;
    width: 18px;
    height: 18px;
}
#canada-txt{
    position: absolute;
    top: 305px;
    left: 295px;
}
.russia-logo{
    position: absolute;
    top: 343px;
    left: 49px;
    width: 18px;
    height: 18px;
}
#russia-txt{
    position: absolute;
    top: 343px;
    left: 76px;
}
.india-logo{
    position: absolute;
    top: 343px;
    left: 268px;
    width: 18px;
    height: 18px;
}
#india-txt{
    position: absolute;
    top: 343px;
    left: 295px;
}
.footer{
    position: absolute;
    top: 758px;
    left: 292px;
    width: 1217px;
    height: 558px;
    background-color: #FFFFFF;
}
#f-r{
    position: absolute;
    top: 22.52px;
    left: 29px;
    font-size: 22px;
}
#f-l{
    position: absolute;
    color: #c8242f;
    top: 26px;
    left: 1145px;
    font-size: 12px;
}
.table{
    top:88px;
    left:40px;
    width:93%;
    position: absolute;
}
th,td{
    padding: 13.15px;
    text-align: left;
}
th{
    color: #ADADAD;
}
table,th,td{
    border-bottom: solid 1px black;
}
.paid{
    color: #3cdd5f;
}
.failed{
    color: #ff4545;
}
.pending{
    color: #bababa
}



#body3{
    top: 0px;
   left: 0px;
    width: 1560px;
    height: 1970px;
    position: relative;
    background: #FAFAFA 0% 0% no-repeat padding-box;
}
.innerpagesidebar{
    top: 80px;
    left: 0px;
    width: 242px;
    height: 1890px;
    position: absolute;
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
#form {
    position: absolute;
    top: 182px;
    left: 292px;
    width: 1218px;
    height: 1749px;
    background: #FFFFFF 0% 0% no-repeat padding-box
}
#Ana{
    color: #000000;
    position: absolute;
    top: 121px;
    left: 290px;
    font-size: 30px;
}
#onecolumn{
    margin-top: 22.52px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: bold;
}
.form-group{
    padding: 14.5px 30px 0px 30px;
}
.form-group-2{
    padding:0px 30px 0px 30px;
}
.form-group-3{
    padding:20px 30px 0px 30px;
}
#twocolumn{
    margin-top: 44px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: bold;
}
.row{
    padding:15.98px 30.5px 0px 30.5px;
}
select:invalid{
   color:  #ADADAD;
}
#threecolumn{
    margin-top: 44px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: bold;
}
#iuser{
    border: 1px dashed #ADADAD;
}
#fourcolumn{
    margin-top: 44px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: bold;
}
#uiborder{
    border: 1px solid #FF3B3B;
}
#uidesign{
    color: #FF3B3B;
}
#otherdesign{
    margin-top: 44px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 25px;
    font-weight: bold;
}
#fileupload{
    margin-top: 21.13px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 20px;
    font-weight: bold;
}
#radio{
    margin-top: 36.15px;
    margin-left: 29px;
    color: #3E3E3E;
    font-size: 20px;
    font-weight: bold;
}




